# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Kotlin files
[*.kt]
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# ktlint rules
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

# Disable wildcard imports
ktlint_standard_no-wildcard-imports = enabled

# Gradle files
[*.gradle.kts]
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Markdown files
[*.md]
trim_trailing_whitespace = false

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2